<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" [routerLink]="['/']">Bakery</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
				aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
				<ul class="navbar-nav flex-grow">										
					<li class="nav-item" [routerLinkActive]="['link-active']"
						[routerLinkActiveOptions]="{ exact: true }" *ngIf="username">
						<a class="nav-link text-dark" [routerLink]="['/products']">Anagrafica prodotti</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['link-active']"
						[routerLinkActiveOptions]="{ exact: true }" *ngIf="username">
						<a class="nav-link text-dark" [routerLink]="['/put-on-sale']">Messa in vendita</a>
					</li>
					<li class="nav-item" [routerLinkActive]="['link-active']"
						[routerLinkActiveOptions]="{ exact: true }" *ngIf="!username">
						<a class="nav-link text-dark" [routerLink]="['/login']">Area riservata</a>
					</li>
					<div ngbDropdown class="nav-item d-inline-block" *ngIf="username">
						<button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{"Welcome, " +
							username }}</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
							<button ngbDropdownItem (click)="logout()">Logout</button>
						</div>
					</div>

				</ul>
			</div>
		</div>
	</nav>
</header>