<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">

        </div>
        <div class="content-body" *ngIf="product">
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
						<h4 class="card-title">Dettaglio prodotto</h4>						
                    </div>
                </div>
				<div class="row">
					<div class="col-sm-12">
						<form #productForm="ngForm">
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Nome*</label>
											<input [(ngModel)]="product.productName" type="text"
												name="Nome" placeholder="Nome prodotto" class="form-control"required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Prezzo*</label>
											<input currencyMask  [(ngModel)]="product.price" 
												name="Price" placeholder="Prezzo"
												class="form-control"required>
										</div>
									</div>
								</div>

								<button class="btn btn-success ml-1 float-right"
									[attr.disabled]="!this.productForm.valid ? '' : null"
									(click)="onSaveClick()">
									<i class="fa fa-save"></i> SALVA
								</button>

							</div>
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h4 class="card-title">Ingredienti</h4>
						<hr>
					</div>
					<div class="col-sm-12">
						<button class="btn btn-success btn-round btn-sm mb-1" 
							(click)="openIngredientPicker()">
							<i class="fa fa-plus"></i> AGGIUNGI INGREDIENTE
						</button>
					</div>
					<div class="col-sm-12">
						<table class="table table-condensed table-bordered table-striped">
							<thead>
								<tr>
									<td>Ingrediente</td>
									<td>Quantità</td>
									<td>UM</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let ingredient of product.productIngredients">
									<td>
										{{ingredient.ingredient.name}}
									</td>
									<td style="width: 200px;">
										<input currencyMask [options]="{ prefix: ''}"
												[(ngModel)]="ingredient.quantity"
												name="Quantità" placeholder="Quantità"
												class="form-control" required>
									</td>
									<td>
										<select [(ngModel)]="ingredient.unitOfMeasure" class="form-control">
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.Mg" [value]="unitsOfMeasure.Mg">Mg</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.Gr" [value]="unitsOfMeasure.Gr">Gr</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.Hg" [value]="unitsOfMeasure.Hg">Hg</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.Kg" [value]="unitsOfMeasure.Kg">Kg</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.Ml" [value]="unitsOfMeasure.Ml">Ml</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.Cl" [value]="unitsOfMeasure.Cl">Cl</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.DL" [value]="unitsOfMeasure.DL">DL</option>
											<option [selected]="ingredient.unitOfMeasure == unitsOfMeasure.L" [value]="unitsOfMeasure.L">L</option>
										</select>										
									</td>
									<td style="width: 50px;">
										<button class="btn round btn-danger btn-sm"
											(click)="removeIngredient(ingredient)">
											<i class="fa fa-trash-o"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
            </section>
        </div>
    </div>
</div>