<div class="modal-header">
	<!--modal-header   -->
	<span></span>
	<h4 class="modal-title text-uppercase">
		{{title}}
	</h4>
	<button type="button" aria-label="Close" class="close" (click)="closeModal()">
		<span aria-hidden="true">×</span>
	</button>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-12">
			<form #productForm="ngForm">
				<div class="form-body">
					<div class="row">						
						<div class="col-md-6">
							<div class="form-group">
								<label>Quantità*</label>
								<input type="number"  [(ngModel)]="product.quantity" 
									name="Quantità" placeholder="a"
									class="form-control"required>
							</div>
						</div>
					</div>

					<button class="btn btn-success ml-1 float-right"
						[attr.disabled]="!this.productForm.valid ? '' : null"
						(click)="onSaveClick()">
						<i class="fa fa-save"></i> SALVA
					</button>

				</div>
			</form>
		</div>
	</div>
	<div class="table-container">

	</div>
</div>


<div class="modal-footer">
	<button class="btn grey btn-outline-secondary text-uppercase " (click)="closeModal()">
		Annulla
	</button>
	<button class="btn btn-outline-primary text-uppercase" (click)="confirm()">
		Conferma
	</button>
</div>
