<div class="modal-header">
	<!--modal-header   -->
	<span></span>
	<h4 class="modal-title text-uppercase">
		Seleziona ingrediente
	</h4>
	<button type="button" aria-label="Close" class="close" (click)="closeModal()">
		<span aria-hidden="true">×</span>
	</button>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-12">
			<ngx-datatable #dataTable class="bootstrap table-bordered" *ngIf="data" [columnMode]="'flex'"
				[headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]='data.data'
				[count]="data.totalRecords" [offset]="0" [limit]="data.pageSize" [externalPaging]="true"
				[externalSorting]="true" [scrollbarH]='false' [scrollbarV]='false' [sorts]="[{prop: 'surname', dir: 'asc'}]"
				[messages]="{emptyMessage:'Nessuna ingrediente disponibile'}" (page)="onPageChangeAsync($event)" (sort)="onSortChangeAsync($event)">

				<ngx-datatable-column name="Nome" [flexGrow]="1" [minWidth]="90" [sortable]="false">
					<ng-template let-row="row" ngx-datatable-cell-template>
						{{row.name}}
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="" [flexGrow]="1" [minWidth]="90" [sortable]="false">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<button (click)="onIngredientPicked(row)" [disabled]="isIngredientDisabled(row)" class="btn round btn-info btn-sm">
							<i class="fa fa-plus"></i>
						</button>
					</ng-template>
				</ngx-datatable-column>

			</ngx-datatable>
		</div>
	</div>
</div>


<div class="modal-footer">
	<button class="btn grey btn-outline-secondary text-uppercase " (click)="closeModal()">
		Chiudi
	</button>
</div>