<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-header row mb-1">

		</div>
		<div class="content-body">
			<!-- Zero configuration table -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<h4 class="card-title">Anagrafica prodotti</h4>
						<a class="btn btn-info" [routerLink]="['/products/new']" >Nuovo prodotto</a>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-sm-12">
						
						<div class="row">
							<div class="col-sm-12">
								<ngx-datatable #dataTable class="bootstrap table-bordered" *ngIf="data" [columnMode]="'flex'"
									[headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]='data.data' [count]="data.totalRecords"
									[offset]="0" [limit]="data.pageSize" [externalPaging]="true" [externalSorting]="true" [scrollbarH]='false'
									[scrollbarV]='false' [messages]="{emptyMessage:'Nessun prodotto disponibile'}"
									[sorts]="[{prop: 'roleCode', dir: 'asc'}]" (page)="onPageChangeAsync($event)"
									(sort)="onSortChangeAsync($event)">
						
									<ngx-datatable-column name="#" [flexGrow]="0.5" prop="ProductId" [sortable]="true">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong>{{row.productId}}</strong>
										</ng-template>
									</ngx-datatable-column>

									<ngx-datatable-column name="Nome" [flexGrow]="0.5" prop="ProductName" [sortable]="true">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong>{{row.productName}}</strong>
										</ng-template>
									</ngx-datatable-column>
						
									<ngx-datatable-column name="Prezzo" [flexGrow]="0.5" prop="Price" [sortable]="true">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong>{{row.price}}</strong>
										</ng-template>
									</ngx-datatable-column>

									<ngx-datatable-column name="" [flexGrow]="0.5" prop="Price" [sortable]="false">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<a class="btn round btn-info btn-sm" [routerLink]="['/products/' + row.productId]" >
												<i class="fa fa-search"></i>
											</a>
											<button class="btn round btn-danger btn-sm"
												(click)="deleteProduct(row.productId)">
												<i class="fa fa-trash-o"></i>
											</button>
										</ng-template>
									</ngx-datatable-column>								
						
								</ngx-datatable>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- Scroll - horizontal and vertical table -->
		</div>
	</div>
</div>