<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-header row mb-1">

		</div>
		<div class="content-body">
			<!-- Zero configuration table -->
			<section id="configuration">				
				<div class="row">
					<div class="col-sm-12">
						<div class="row mb-2 ">
							<div class="col-12">
								<h4 class="card-title">NUOVO PRODOTTO IN VENDITA</h4>
							</div>
							<div class="col-12 mt-2">
								<button class="btn btn-info mr-2" (click)="openProductPicker()">
									Seleziona prodotto
								</button>
								<strong *ngIf="selectedProduct">Prodotto selezionato: {{selectedProduct.productName}}</strong>
							</div>											
						</div>
						<div class="row  mt-2" *ngIf="selectedProduct">							
							<div class="col-sm-4">
								<label>Quantità</label>
								<input class="form-control" placeholder="Quantità" [(ngModel)]="quantity" />
							</div>
							<div class="col-sm-4">
								<button class="btn btn-info" (click)="createProductOnSale()" [disabled]="!selectedProduct || !quantity" style="margin-top:32px;">
									Metti in vendita
								</button>
							</div>		
						</div>
						<hr>
						<div class="row">
							<div class="col-12">
								<h4 class="card-title">ELENCO PRODOTTI IN VENDITA</h4>
							</div>
							<div class="col-sm-12 mb-2 mt-2">
								<div class="input-group" style="max-width: 350px;">
									<input type="text" placeholder="Cerca..." aria-describedby="basic-addon4" class="form-control"
										[(ngModel)]="searchText" (keyup)="refreshDataTable()">
									<div class="input-group-append">
										<span id="basic-addon4" class="input-group-text"><i class="la la-search"></i></span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<ngx-datatable #dataTable class="bootstrap table-bordered" *ngIf="data" [columnMode]="'flex'"
									[headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]='data.data' [count]="data.totalRecords"
									[offset]="0" [limit]="data.pageSize" [externalPaging]="true" [externalSorting]="true" [scrollbarH]='false'
									[scrollbarV]='false' [messages]="{emptyMessage:'Nessun prodotto disponibile'}"
									[sorts]="[{prop: 'roleCode', dir: 'asc'}]" (page)="onPageChangeAsync($event)"
									(sort)="onSortChangeAsync($event)">
						
									<ngx-datatable-column name="Prodotto" [flexGrow]="0.5" prop="Product.ProductName" [sortable]="true">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong>{{row.productName}}</strong>
										</ng-template>
									</ngx-datatable-column>
						
									<ngx-datatable-column name="Quantità" [flexGrow]="1" [minWidth]="90" prop="Quantity" [sortable]="true">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong>{{row.quantity}}</strong>
										</ng-template>
									</ngx-datatable-column>

									<ngx-datatable-column name="Data di messa in vendita" [flexGrow]="1" [minWidth]="90" prop="Quantity" [sortable]="true">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong>{{row.putUpForSaleDateUtc | date:'dd/MM/yyyy'}}</strong>
										</ng-template>
									</ngx-datatable-column>
						
									<ngx-datatable-column name="Prezzo" [flexGrow]="1" [minWidth]="90" prop="fullPrice"
										[sortable]="false">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong >{{row.fullPrice}}</strong>
										</ng-template>
									</ngx-datatable-column>

									<ngx-datatable-column name="Prezzo scontato" [flexGrow]="1" [minWidth]="90" prop="fullPrice"
										[sortable]="false">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong *ngIf="!row.discountedPrice">{{row.fullPrice}}</strong>
											<strong *ngIf="row.discountedPrice">{{row.discountedPrice}}</strong>
										</ng-template>
									</ngx-datatable-column>

									<ngx-datatable-column name="Scaduto" [flexGrow]="1" [minWidth]="90"  [sortable]="false">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<strong *ngIf="row.isExpired">SI</strong>
											<strong *ngIf="!row.isExpired">NO</strong>
										</ng-template>
									</ngx-datatable-column>		

									<ngx-datatable-column name="" [flexGrow]="0.5" prop="Price" [sortable]="false">
										<ng-template let-row="row" ngx-datatable-cell-template>
											<button class="btn round btn-danger btn-sm"
												(click)="deleteProductOnSale(row.productOnSaleId)">
												<i class="fa fa-trash-o"></i>
											</button>
										</ng-template>
									</ngx-datatable-column>		

								</ngx-datatable>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- Scroll - horizontal and vertical table -->
		</div>
	</div>
</div>