
<div class="row">
	<div class="col-12 text-center  mt-5">
		<h1>Bakery - Login</h1>
	</div>
</div>
<form class="form-horizontal form-simple" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
	<div class="form-group position-relative has-icon-left mt-3">
		<input type="text" formControlName="username" class="form-control"
			[ngClass]="{ 'is-invalid': submitted && f.username.errors }"
			id="user-name" placeholder="Username" required />
		<div class="form-control-position">
			<i class="feather ft-user"></i>
		</div>
		<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
			<div *ngIf="f.username.errors.required">Inserire username</div>
		</div>
	</div>
	<div class="form-group position-relative has-icon-left mt-1">
		<input type="password" placeholder="Password" formControlName="password"
			class="form-control"
			[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
		<div class="form-control-position">
			<i class="la la-key"></i>
		</div>
		<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
			<div *ngIf="f.password.errors.required">Inserire la password</div>
		</div>
	</div>

	<button type="submit" class="btn btn-info btn-block">
		<i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
		<i class="feather ft-unlock" *ngIf="!submitted"></i> Login
	</button>

</form>